version: "3.9"

services:
  db:
    image: postgres:16
    container_name: myapp_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./internal/database/schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro

  app:
    build: .
    container_name: myapp_app
    depends_on:
      - db
    env_file: .env
    volumes:
      - .:/app
    ports:
      - "${APP_PORT}:${APP_PORT}"
    command: ["air", "cmd/main.go"]

volumes:
  pgdata:
